# Created by .ignore support plugin (hsz.mobi)
/platforms
node_modules
/.idea
/lib
/*.js.map
app/app.component.js
app/app.component.js.map
app/app.module.js
app/app.module.js.map
app/app.routing.js
app/app.routing.js.map
app/authentication.service.js
app/authentication.service.js.map
app/car.service.js
app/car.service.js.map
app/constants.service.js
app/constants.service.js.map
app/login/login.component.js
app/login/login.component.js.map
app/main.js
app/main.js.map
app/main/main.component.js
app/main/main.component.js.map
app/search/search-component.js
app/search/search-component.js.map
npm-debug.log
